@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />

</head>
<div class="text-center">
    <div class="jumbotron">
              <h1 class="all-titles-pages">Biblioteca Manuel Sáenz</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsam quod dignissimos rerum veniam rem architecto voluptas quos facere voluptatibus molestiae odit, suscipit atque id, voluptate culpa assumenda a repellendus.
              </p>
            </div>
            <section class="all-pages-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center wow pulse all-titles-pages">Autores Destacados</h1>
                            <br><br><br>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div>
                                <img src="/img/stephen.jpg" alt="book" style="padding-left:75px; border-radius:05px" class="img-responsive img-circle center-box-content">
                                <h3 class="text-center all-titles-pages">Stephen King</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, itaque delectus. Aperiam, inventore pariatur rerum praesentium odio, quaerat magnam enim aspernatur officiis cumque! Culpa quisquam dolores consequuntur, quidem qui, quia.
                                </p>
                                <p class="text-center"><a href="#" class="btn btn-danger">Más información</a></p>
                            </div>
                            <hr class="visible-xs">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div>
                                <img src="/img/joanne.jpg" alt="book" style="padding-left:75px; border-radius:05px" class="img-responsive img-circle center-box-content">
                                <h3 class="text-center all-titles-pages">J.K. Rowling</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, itaque delectus. Aperiam, inventore pariatur rerum praesentium odio, quaerat magnam enim aspernatur officiis cumque! Culpa quisquam dolores consequuntur, quidem qui, quia.
                                </p>
                                <p class="text-center"><a href="#" class="btn btn-danger">Más información</a></p>
                            </div>
                            <hr class="visible-xs">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div>
                                <img src="/img/george.jpg" alt="book" style="padding-left:75px; border-radius:05px" class="img-responsive img-circle center-box-content">
                                <h3 class="text-center all-titles-pages">George R.R. Martin</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, itaque delectus. Aperiam, inventore pariatur rerum praesentium odio, quaerat magnam enim aspernatur officiis cumque! Culpa quisquam dolores consequuntur, quidem qui, quia.
                                </p>
                                <p class="text-center"><a href="#" class="btn btn-danger">Más información</a></p>
                            </div>
                            <hr class="visible-xs">
                        </div>
                    </div><!--End first row -->
                    <hr style="margin:90px 0px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center wow pulse all-titles-pages">Libros que son tendencia</h1>
                            <br><br><br>
                        </div>
                        <div class="col-xs-12">
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="/img/libro.jpg" alt="book">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading all-titles-pages">Título del libro</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum, neque modi deleniti officiis asperiores et nulla aperiam! Nobis tempore molestiae aliquam eligendi expedita natus non mollitia ipsa dolor repudiandae.
                                </p>
                              </div>
                            </div>
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="/img/libro.jpg" alt="book">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading all-titles-pages">Título del libro</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum, neque modi deleniti officiis asperiores et nulla aperiam! Nobis tempore molestiae aliquam eligendi expedita natus non mollitia ipsa dolor repudiandae.
                                </p>
                              </div>
                            </div>
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="/img/libro.jpg" alt="book">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading all-titles-pages">Título del libro</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum, neque modi deleniti officiis asperiores et nulla aperiam! Nobis tempore molestiae aliquam eligendi expedita natus non mollitia ipsa dolor repudiandae.
                                </p>
                              </div>
                            </div>
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="/img/libro.jpg" alt="book">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading all-titles-pages">Título del libro</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum, neque modi deleniti officiis asperiores et nulla aperiam! Nobis tempore molestiae aliquam eligendi expedita natus non mollitia ipsa dolor repudiandae.
                                </p>
                              </div>
                            </div>
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-rounded" src="/img/libro.jpg" alt="book">
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading all-titles-pages">Título del libro</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum, neque modi deleniti officiis asperiores et nulla aperiam! Nobis tempore molestiae aliquam eligendi expedita natus non mollitia ipsa dolor repudiandae.
                                </p>
                              </div>
                            </div>
                        </div>
                    </div><!--End second row -->
                    <hr style="margin:90px 0px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p class="text-center" style="font-size:90px;"><i class="fa fa-picture-o"></i></p>
                            <h2 class="text-center all-titles-pages">Galería de imágenes</h2>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aperiam, numquam ad aspernatur, aliquid accusantium rem laborum recusandae ut nisi assumenda velit sequi quasi, officiis officia enim reprehenderit ex harum!
                            </p>
                            <p class="text-center"><a href="galery.html" class="btn btn-danger">Ver galería</a></p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p class="text-center" style="font-size:90px;"><i class="fa fa-cloud-download"></i></p>
                            <h2 class="text-center all-titles-pages">Comprar libros</h2>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis aperiam, numquam ad aspernatur, aliquid accusantium rem laborum recusandae ut nisi assumenda velit sequi quasi, officiis officia enim reprehenderit ex harum!
                            </p>
                            <p class="text-center"><a href="store.html" class="btn btn-danger">Ver tienda</a></p>
                        </div>
                    </div><!--End third row -->
                </div><!--End container -->
            </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
